
    body {
        background-image: url('Wallpaper.png');
        background-size: cover;  /* Ảnh sẽ phủ toàn bộ trang */
        background-position: center center;  /* Canh giữa ảnh */
        background-attachment: fixed;  /* Giữ ảnh nền cố định khi cuộn trang */
        margin: 0;  /* Loại bỏ khoảng cách mặc định */
        height: 100vh;  /* Đảm bảo chiều cao của trang bằng 100% màn hình */
    }


p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #FFF000;
}

img {
    margin: auto;
}

div {
    text-align: center;
}

.con_btn {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px; 
    margin-top: 20%; 
}

.btn, .btn_1 {
    background-color: #40E0D0;
    border: none;
    border-radius: 10px;
    color: #080808;
    text-align: center;
    display: inline-block;

}

.btn {
    margin-top: 20%;
    width: 450px;
    height: 120px;
    padding: 10px 50px;
    
}

.btn_1 {
    margin-top: 5%;
    width: 600px;
    height: 125px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 70px;
    padding: 10px 50px;
}




.btn:hover {
    background-color: #16A085;
}



.custom-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #40E0D0; /* Màu nền của nút */
    color: black; /* Màu chữ */
    width: 450px;
    height: 120px;
    padding: 10px 0px;
    border: none;
    border-radius: 20px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 50px;
}

.button-icon {
    display: flex;
    margin-left: 0;
    border-radius: 5px;
    align-items: center;
    justify-content: flex-start;
    margin-right: 50px; 
}


/* Biểu tượng */
.button-icon img {
    width: 165.05px; 
    height: 119.47px;
    display: flex;
}

/* Văn bản trên nút */
.button-text {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
    color: #080808;

}





.btn:hover {
    background-color: #16A085;
}



.popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.6); Dark overlay background */
    z-index: 1000;
}

/* Style for the popup content */
.popup-content {
    background-color: #E0F7F9; /* Light blue background */
    border: 2px solid #00A2FF; /* Border color */
    border-radius: 8px; /* Rounded corners */
    height: 360px;
    width: 550px; /* Fixed width */
    margin: 100px auto; /* Centered horizontally */
    padding: 20px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    color: #333;
    margin-top: 200px;
}

/* Close button style */
.popup-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

/* Title style */
.popup-content h3 {
    font-size: 31.43px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #333;
    margin: 0 0 20px 0;
    text-align: left;
}

/* Label style */
.popup-content label {
    font-size: 23.57px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #333;
    margin: 10px 0 5px;
    display: block;
    text-align: left;
}

#timerPopup select {
    width: 100%; /* Mở rộng bề ngang của ô select */
    height: 57px;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #00796b;
}
#timerPopup option {
    font-size: 19.64px;
    font-family: 'Inter', sans-serif;
}

#timerPopup button {
    margin-top: 30px;
    margin-left: 70%;
    height: 40px;
    width: 117.86px;
    padding: 8px 16px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 6.29px;
    cursor: pointer;
    /* border: 2px solid #00A2FF; */
}

